.black {
    width: 200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 200px;
    left: 600px;
    z-index: 1;
    transition: 0.3s all linear;
}

.black2 {
    width: 200px;
    height: 200px;
    background-color: #000;
    position: absolute;
    top: 200px;
    left: 600px;
    z-index: 0;
    transition: 0.3s all linear;
}

.first {
    left: 400px;
    border-radius: 50%;
    background-color: #500092;
    transition: 0.3s all linear;
}

.second {
    border-radius: 50%;
    background-color: #500092;
    transition: 0.3s all linear;
}

.third {
    left: 800px;
    border-radius: 50%;
    background-color: #500092;
    transition: 0.3s all linear;
}